<div class="flex items-center justify-center h-screen">
  <!-- Div que contém a segunda div (com borda vermelha) -->
  <div class="border-4 border-red-500 p-8">
    <h1 class="text-center text-pink-500  text-4xl mb-4">Data Binding</h1>
    <!-- Div que contém as 3 divs internas -->
    <div class="space-y-4">
      <!-- Primeira div interna com efeito de alto relevo -->
      <div class="p-6 bg-white border-2 border-gray-300 rounded-lg">
        <h1 class="text-2xl font-bold text-black text-center mb-4">String Interpolation</h1>
        <h2 class="text-center text-black ">Bem Vindo ao {{siteName}}</h2>
      </div>
      
      
      <!-- Segunda div interna com efeito de alto relevo -->
      <div class="p-6 bg-white border-2 border-gray-300 rounded-lg shadow-lg">
        <h1 class="text-2xl font-bold text-black text-center mb-4">Property Bind</h1>
        <p>Abaixo está</p>
        <img [src]="img" alt="logo">
      </div>
</div>
